:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import "tailwindcss";

@tailwind utilities;
@layer utilities {
  .swiper-custom-pagination {
  }
  .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #cfdadf;
    border-radius: 50%;
    margin: 0 4px;
    transition: background 0.3s;
  }

  .dot-active {
    background: #2445ce;
  }
  .text-outline {
    font-family: "IBM Plex Sans	", sans-serif;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 0.4px #cccccc;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
  }
  .animate-fade-in {
    animation: fadeIn 0.5s ease-out forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-scale-fade-in {
    animation: scaleFadeIn 0.3s ease-out forwards;
  }

  @keyframes scaleFadeIn {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;

  background: #f0f4ff;
}

::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 10px;
  border: 0px solid #f0f4ff;
}

.scrollable-container {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}
html,
body {
  overflow-x: hidden;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html {
  scroll-behavior: smooth;
}
a {
  opacity: 1;
}
a:hover {
  opacity: 0.7;
}
